<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <title>ぺろのメモアプリ</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
